{%  extends 'base.html.twig' %}
{% block body %}
   <table>

      <th>>>>>>>>>KATEGORİLER<<<<<<<</th>


   <body>
   {% for kategori in kategori %}
      <tr>
         <td><a class="nav btn btn-warning" style="background-color: #F5871F" teal" href="{{ path('kategoriler_id',{'id':kategori.id}) }}">{{kategori.isim}}</a></td>
      </tr>
   {% endfor  %}
   </body>

{% endblock %}
      {% block style2 %}
         table {
         font-family: arial, sans-serif;
         border-collapse: collapse;
         width: 40%;
         }
         td, th {
         border: 2px solid #dddddd;
         text-align: left;
         padding: 5px;
         }



      {% endblock %}

