{%  extends 'base.html.twig' %}
{% block body %}
   <table>
   <tr>

      <th>Kategoriler</th>

   </tr>
   <body>
   {% for kategori in kategori %}
      <tr>
         <td><a class="btn btn-info" href="{{ path('kategoriler_id',{'id':kategori.id}) }}">{{kategori.isim}}</a></td>
      </tr>
   {% endfor  %}

{% endblock %}