{%  extends 'base.html.twig' %}
{% block body %}
    <table>
       <strong>Bu Kategorideki Ürünler:</strong>

    <body>
    {% for urun in urunler %}
            <a class="nav btn btn-info" href="{{ path('urun_goruntule',{'id':urun.id}) }}">{{urun.isim}}</a>
    {% endfor  %}
    <hr>
    <a class="nav btn btn-warning" href="{{ path('kategoriye_urun_ekle',{'id':kategori.id}) }}">Kategoriye Yeni Ürün Ekle</a>
    </body>
    </table>
{% endblock %}




